
header {text-align: right;}
article {text-align: justify; text-indent: 20px;}
h3 {font-family: 'Roboto', sans-serif; text-decoration: underline; font-weight: 700; font-style: italic;text-indent: 30px;}
  .aaa {font-family: 'Montserrat', sans-serif; line-height: 45px; font-size: 25px;}      
  .bbb {font-family: 'Montserrat', sans-serif; line-height: 45px; font-size: 25px;}  
  .ccc {font-family: 'Montserrat', sans-serif; line-height: 45px; font-size: 25px;}  
  p {font-family: 'Lato', sans-serif;font-style: normal; font-size: medium;}