
        #ree{color: blue;
    
        }
         P{ font-family: sans-serif;
            font-size: 17px;
            background-color: rgb(95, 25, 25); color: green; text-align: start;
    
        }
        .v{background-color: #eee; color: red;text-align: end;
    
        }
    