
td {width: 30px;
    height: 30px;
    border: 1px solid  black;
 }
 table {border-collapse: collapse;}
 tr:nth-child(odd) td:nth-child(odd)  { background-color: grey }
 tr:nth-child(even) td:nth-child(even)  { background-color: grey }