.item1 {background-color: blue; width: 137px; height: 201px; float: left;background-image: url(cards.png);
     background-position: 0px 1189px; }
.item2 {background-color: red; width: 137px; height: 201px;float: left; margin-left:-72px; margin-top: 16px;
    background-image: url(cards.png);background-position: 0px 988px}
.item3 {background-color: green; width: 137px; height: 201px;float: left; margin-left: -59px; margin-top: 30px;
    background-image:url(cards.png);background-position: 0px 789px}
.item4 {background-color: gold; width: 137px; height: 201px;float: left; margin-left: -47px; margin-top: 44px;
    background-image: url(cards.png);background-position: 0px 589px}
.item5 {background-color: black; width: 137px; height: 201px;float: left; margin-left: -34px; margin-top: 58px;
    background-image: url(cards.png);background-position: 0px 389px}
