
        #ree{color: aqua;
    
        }
         P{ font-family: sans-serif;
            font-size: 16px;
            background-color: #eee; color: green; text-align: center;
    
        }
        .v{background-color: #eee; color: red;text-align: start;
    
        }
    