div {border: 1px solid  black; width: 700px; 
    height: 150px; padding: 10px; border-top-right-radius: 20px;border-bottom-left-radius: 20px;}



.list span
{visibility: hidden; left: auto;}
.list:hover span {  visibility: visible;}